html{
    font-family: system-ui, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(38, 39, 39);
}

body{
    margin:0;
    padding:0;
    width: 400px;
    margin:200px auto;
}

form.container{
    display: grid;
    text-align: center;
    grid-template-columns: 1;
    grid-template-rows: 1fr auto auto;
}

h1.title{
    text-align: center;
    font-size:30px;
}


div{
    margin:3px;
}

div.inserimento input{
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

div.checkbox input{     
    height: 20px;
    width: 20px;
}

div.bottoni input{
    width: 30%;
    font-size: 20px;
}

